/* index.css */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    text-align: center;
}

#video-container {
    max-width: 100%;
    /* Para tornar o vídeo responsivo */
}

#video-container iframe {
    width: 1280;
    /* Para tornar o vídeo responsivo */
    height: 720;
    /* Para ajustar automaticamente a altura */
    max-width: 1920px;
    /* Largura máxima do vídeo */
    max-height: 720px;
    /* Altura máxima do vídeo */
}

#titulo {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
}

/* Outros estilos específicos da página aqui */